/* Header Styling */

#unfloated-container{
    width: 1000px;
}

body {
    width: fit-content;
    min-width: 100%;
}
.page-row {
    width: fit-content;
    margin: auto;
    padding: 0;
    display: grid;
  }
  
  header {
    margin: auto;
}
  
  .heading {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 300%;
    color: rgb(225, 112, 112);
    text-decoration: none;
    letter-spacing: 19px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    margin: auto;
  }
  
  @media screen and (max-width: 950px) {
    .heading {
      color: rgb(225, 112, 112);
      width: 100%;
      font-size: 31px;
      letter-spacing: 15px;
      padding-top: 4%;
      padding-bottom: 4%;
      padding-left: 0;
      padding-right: 0;
      min-width: auto;
      text-align: center;
      margin: 0;
    }
  }
  
  .header-link {
    color: rgb(225, 112, 112);
    text-decoration: none;
    margin-left: 2%;
  }
  
  .header-link:hover {
    color: rgb(177, 114, 114);
  }
  
  .subhead {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    letter-spacing: 16px;
    color: rgb(177, 114, 114);
  
  }
  
  @media screen and (max-width: 950px) {
    .subhead {
      display: none;
    }
  }
  
  .index-content {
    margin: auto;
  }
  
  /* Side Navigation Styling */
  
  
  .side-nav {
    position: fixed;
    padding: 3%;
    margin: auto;
  }
  
  
  .side-nav li {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    padding: 10%;
    display: inline-block;
  }
  
  @media screen and (max-width: 950px) {
    .side-nav {
      display: none;
    }
  }

  ul {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 15%;
    width: fit-content;
  
  }
  
  .instagram {
    text-decoration: none;
  }
  
  .instagram:hover {
    color: rgb(225, 112, 112);
  }
  
  
  .nav-button {
    color: rgb(78, 91, 106);
    text-decoration: none;
    font-weight: 600;
    margin-left: 6px;
  }
  
  @media screen and (max-width: 950px) {
    .nav-button {
      font-weight: 700;
    }
  }
  
  .nav-button:hover {
    color: rgb(177, 114, 114)
  }
  
  .mob-nav {
    font-size: 20px;
    letter-spacing: 2px;
    list-style: none;
    padding: 0;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    min-width: 100%;
  }
  
  .mob-nav li {
    margin: 1%;
  }
  
  @media screen and (min-width: 950px) {
    .mob-nav {
      display: none;
    }
  }
  
  /* Gallery Styling */
  
  a {
    text-decoration: none;
  }

  .photogallery {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
  }
  
  .gallery {
    width: -webkit-fill-available;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  @media screen and (min-width: 951px) {
    .gallery-mob {
      display: none;
      padding: 0;
    }
  }

  @media screen and (max-width: 950px) {
    .gallery-mob {
      display: inline-block;
      padding: 0;
      margin: auto;
    }
  }

  @media screen and (max-width: 950px) {
    .gallery {
      display: none;
      padding: 0;
    }
  }

  .images {
    max-width: 20%;
    margin: 1%;
  }
    
  @media screen and (max-width: 950px) {
    .images {
      width: -webkit-fill-available;
      max-width: 100%;
      margin-top: 4%;
      margin-bottom: 3%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .images:hover {
    transform: scale(1.23);
  }
  
  @media screen and (max-width: 950px) {
    .images:hover {
      transform: none;
    }
  }
  
  
  /* About Page */
  
  .about-header {
    width: -webkit-fill-available;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
  }
  
  @media screen and (max-width: 950px) {
    .about-header {
      padding: 0;
    }
  }
  
  .about {
    width: fit-content;
    padding: 0;
  }
  
  .about-img {
    width: 100%;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .about-text {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    display: block;
    font-size: 20px;
    font-weight: 500;
  }
  
  @media screen and (max-width: 950px) {
    .about-text {
      margin-top: 6%;
      margin-bottom: 6%;
      padding-left: 6%;
      padding-right: 6%;
      font-weight: 600;
      font-size: 17px;
    }
  }
  
  .selected-exhib {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: rgb(78, 91, 106);
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
    letter-spacing: 11px;
  }
  
  /* Timeline styling */
  
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
  }
  
  h1 {
    text-align: center;
    font-weight: 500;
    color: rgb(78, 91, 106);
  }
  
  h1 span {
    font-weight: 600;
  }
  
  .container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
  }
  
  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
  }
  
  .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right {
    float: right;
  }
  
  .timeline-block-left {
    float: left;
    direction: rtl
  }
  
  .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 6px;
    border: 2px solid #F5F7FA;
    background: rgb(225, 112, 112);
    margin-top: 10px;
    z-index: 9999
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
  }
  
  .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
  }
  
  .timeline-content span {
    font-size: 25px;
    color: rgb(78, 91, 106);
  }
  
  .timeline-content p {
    font-size: 25px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: rgb(78, 91, 106);
  }
  
  
  @media screen and (max-width: 700px) {
    .timeline-content span {
      font-size: 20px;
    }
  
    .timeline-content h3 {
      font-size: 20px;
    }
  
    .timeline-content p {
      font-size: 20px;
    }
  }
  
  /* Contact Form */
  
  #contact-form {
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 700px;
    padding-top: 5%;
    padding-bottom: 5%;
  
  }
  
  .contact-input {
    width: -webkit-fill-available;
  }
  
  .contact-title {
    font-weight: 400;
    color: rgb(78, 91, 106);
    margin-bottom: 15px;
  }
  
  .contact-text {
    font-size: 25px;
    font-weight: 400;
    color: rgb(78, 91, 106);
  }
  
  .contact-submit {
    font-size: 23px;
    font-weight: 500;
    color: rgb(78, 91, 106);
    background: none;
    border: none;
  }
  
  .input-box {
    padding-bottom: 3%;
  }
  
  .thanks {
    text-align: center;
    font-size: 30px;
    margin: 15%;
    color: rgb(78, 91, 106);
  }
  
  /* Latest Image Styling*/
  
  .latest-image {
    margin: auto;
    padding: 0;
  }
  
  .latest-title {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  #latest-img-content {
    width: 40rem;
    min-width: 50vw;
    float: left;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 2%;
  }
  
  @media screen and (max-width: 950px) {
    #latest-img-content {
      width: 100%;
      width: 100%;
      padding-left: 7%;
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
      padding-right: 7%;
      padding-top: 4%;
    }
  }
  
  .map {
    height: 100%;
    padding-top: 2%;
  }
  
  @media screen and (max-width: 950px) {
    .map {
      display: none;
    }
  }
  
  #embed-map-canvas {
    height: 100%;
  }
  
  .map-text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  @media screen and (max-width: 950px) {
    .map-text {
      font-size: 17px;
      font-weight: 600;
      text-align: left;
      margin: auto;
      padding-top: 4%;
      padding-bottom: 10%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  
  /*back to top button*/
  
  .top-button {
    position: fixed;
    z-index: 99;
    bottom: 10%;
    right: 10%;
  }
  
  .top-button-style {
    background: none;
    border: none;
    font-size: 40px;
  }
  
  @media screen and (min-width: 950px) {
    .top-button {
      display: none;
    }
  }