/* // Source mixin
@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: -3%;
} */

/* Header Styling */
.heading {
    font-family: 'Cormorant Garamond', serif;
    padding-left:10%;
    padding-top:3%;
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 300%;
    text-decoration: none;
    letter-spacing: 19px;
    background-color: rgb(251, 251, 251);
}

.header-link {
    color:rgb(225, 112, 112);
    text-decoration: none;
}

.header-link:hover {
    color: rgb(177, 114, 114);
}
.subhead {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-left: 8px;
    letter-spacing: 16px;
    color: rgb(177, 114, 114);

}

/* Side Navigation Styling */
.side-nav {
    padding-left: 100px;
    
}


.side-nav li{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
    padding: 10%;
    display: inline-block;
}

ul {
    padding-top: 20%;
    padding-left: 50%;
    display: inline-block;
    text-align: center;
}
.instagram {
    text-decoration: none;
}

.instagram:hover {
    color: rgb(225, 112, 112)
}


.nav-button {
    color: rgb(78, 91, 106);
    text-decoration: none;
   
}

.nav-button:hover {
    color:rgb(177, 114, 114)
}



/* Gallery Styling */
.gallery {
    padding-left: 10%;
    padding-top: 3%;
    margin-bottom: 5%;
}

img:hover {
    transform: scale(1.2);
}

.photogallery {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
}

.images {
    max-width: 25%;
    margin: 20px;
}
